<div class="alert alert-success" role="alert" id="contributeSuccessMessage" style="display: none"></div>
<div class="alert alert-danger" role="alert" id="contributeErrorMessage" style="display: none"></div>

<div id="step1">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Scala Clippy is only as good as its advice database. Help other users by submitting a fix for a compilation
                error that you have encountered!</p>

            <p>First, paste in the error and we'll see if we can parse it. Only the error message is needed, without the
                file name and code snippet, e.g.:</p>

            <pre>type mismatch;
found   : akka.http.scaladsl.server.StandardRoute
required: akka.stream.scaladsl.Flow[akka.http.scaladsl.model.HttpRequest,akka.http.scaladsl.model.HttpResponse,Any]</pre>
        </div>
    </div>

    <form>
        <div class="form-group">
            <label for="errortext"><strong>Error text</strong></label>
            <textarea id="errortext" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="step1Next">Next</button>
    </form>
</div>

<div id="step2cannotparse" style="display: none"></div>

<div id="step2cannotparse_template" style="display: none">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Unfortunately we cannot parse the error. Let us know how to contact you, we'll try to find out
                what's wrong and get back to you.</p>
        </div>
    </div>

    <form>
        <div class="form-group">
            <label for="step2cannotparseEmail"><strong>E-mail</strong></label>
            <input type="email" class="form-control" id="step2cannotparseEmail" placeholder="scalacoder&commat;company.com" required="required">
        </div>

        <button type="reset" class="btn btn-default" id="step2cannotparseReset">Reset</button>
        <button type="submit" class="btn btn-primary" id="step2cannotparseSend">Send</button>
    </form>
</div>

<div id="step2parsed" style="display: none"></div>

<div id="step2parsed_template" style="display: none">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Parsing successfull! Here's what we've found:</p>

            <pre id="step2parsedInfo"></pre>

            <p>You can optionally leave an e-mail so that we can let you know when your proposal is accepted,
            and a twitter/github handle so that we can add proper attribution, visible in the advice browser.</p>
        </div>
    </div>

    <form>
        <div class="form-group">
            <label for="step2advice">Advice text</label>
            <textarea id="step2advice" class="form-control" rows="3"></textarea>
        </div>

        <hr />

        <div class="form-group">
            <label for="step2GroupId"><strong>Library group id</strong></label>
            <input type="text" class="form-control" id="step2GroupId" placeholder="org.scala" required="required">
        </div>
        <div class="form-group">
            <label for="step2ArtifactId"><strong>Library artifact id</strong></label>
            <input type="text" class="form-control" id="step2ArtifactId" placeholder="scala-lang" required="required">
        </div>
        <div class="form-group">
            <label for="step2Version"><strong>Library version</strong></label>
            <input type="text" class="form-control" id="step2Version" placeholder="2.11-M3" required="required">
        </div>

        <hr />

        <div class="form-group">
            <label for="step2parsedEmail">E-mail (optional)</label>
            <input type="email" class="form-control" id="step2parsedEmail" placeholder="scalacoder&commat;company.com">
        </div>
        <div class="form-group">
            <label for="step2parsedEmail">Twitter handle (optional)</label>
            <div class="input-group">
                <div class="input-group-addon">&commat;</div>
                <input type="email" class="form-control" id="step2parsedTwitter" placeholder="twitter">
            </div>
        </div>
        <div class="form-group">
            <label for="step2parsedGithub">Github handle (optional)</label>
            <div class="input-group">
                <div class="input-group-addon">&commat;</div>
                <input type="email" class="form-control" id="step2parsedGithub" placeholder="github">
            </div>
        </div>

        <hr />

        <div class="form-group">
            <label for="step2comment">Comments (e.g.: are there any parts in the error that are generic?)</label>
            <textarea id="step2comment" class="form-control" rows="3"></textarea>
        </div>

        <button type="reset" class="btn btn-default" id="step2parsedReset">Reset</button>
        <button type="submit" class="btn btn-primary" id="step2parsedSend">Send</button>
    </form>
</div>