<h2>
    Scala Clippy
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Scala%20Clippy%3A%20programmer-friendly%20compiler%20errors%20">Tweet</a>

    <a href="https://gitter.im/softwaremill/scala-clippy?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge">
        <img src="https://badges.gitter.im/softwaremill/scala-clippy.svg" alt="Join the chat at https://gitter.im/softwaremill/scala-clippy" style="max-width:100%; margin-bottom:5px;" />
    </a>
</h2>

<p>
    Did you ever see a Scala compiler error such as:
</p>
<img class="cout" src="assets/img/clippy-akka-err.png">
<p>
    and had no idea what to do next? Well in this case, you need to provide an implicit instance of an <code>ActorMaterializer</code>,
    but the compiler isn't smart enough to be able to tell you that. Luckily, <strong>Scala Clippy is here to help</strong>!
</p>

<p>
    Just add the Scala Clippy compiler plugin, and you'll see this additional helpful message, with optional additional colors:
</p>
<img class="cout" src="assets/img/clippy-akka-err-rich.png">

<h2>Adding the plugin</h2>

<p>
    The easiest to use Clippy is via an SBT plugin. If you'd like Clippy to be enabled for all projects, without
    the need to modify each project's build, add the following to <code>~/.sbt/0.13/plugins/build.sbt</code>:
</p>

<pre>
addSbtPlugin("com.softwaremill.clippy" % "plugin-sbt" % "0.5.3")
</pre>

<p>
    Upon first use, the plugin will download the advice dataset from <code>https://scala-clippy.org</code> and store it in the
    <code>$HOME/.clippy</code> directory. The dataset will be updated at most once a day, in the background. You can customize the
    dataset URL and local store by setting the <code>clippyUrl</code> and <code>clippyLocalStoreDir</code> sbt options to non-<code>None</code>-values.
</p>

<p>
    Note: to customize a global sbt plugin (a plugin which is added via `~/.sbt/0.13/plugins/build.sbt`) keep in mind
    that:
</p>

<ul>
    <li>customize the plugin settings in <code>~/.sbt/0.13/build.sbt</code> (one directory up!). These settings will be
    automatically added to all of your projects.</li>
    <li>you'll need to add <code>import com.softwaremill.clippy.ClippySbtPlugin._</code> to access the setting names as auto-imports
    don't work in the global settings</li>
    <li>the clippy sbt settings are just a convenient syntax for adding compiler options (e.g., enabling colors is same
    as <code>scalacOptions += "-P:clippy:colors=true"</code>)</li>
</ul>

<h2>Enabling syntax and type mismatch diffs highlighting</h2>

<p>
    Clippy can highlight:
</p>

<ul>
    <li>
        in type mismatch errors, the diff between expected and actual types. This may be especially helpful for long type
        signatures
    </li>
    <li>
        syntax when displaying code fragments with errors. Example:
        <img class="cout" src="assets/img/clippy-syntax-highlight.png">
    </li>
</ul>

<p>
    If you'd like to enable this feature in sbt globally, add the following to `~/.sbt/0.13/build.sbt`: (see also notes
    above)
</p>

<pre>
import com.softwaremill.clippy.ClippySbtPlugin._ // needed in global configuration only
clippyColorsEnabled := true
</pre>

<p>
    To customize the colors, set any of `clippyColorDiff`, `clippyColorComment`,
    `clippyColorType`, `clippyColorLiteral`, `clippyColorKeyword` to `Some(ClippyColor.[name])`, where `[name]` can be:
    `Black`, `Red`, `Green`, `Yellow`, `Blue`, `Magenta`, `Cyan`, `White` or `None`.
</p>

<p>
    You can of course add clippy on a per-project basis as well.
</p>
<h3>Windows users</h3>
<p>If you notice that colors don't get correctly reset, that's probably caused by problems with interpreting the standard ANSI Reset code. You can set `clippyColorReset` to a custom value like `LightGray` to solve this issue.</p>
<h2>Contributing advice</h2>

<p>
    Help others users by submitting an advice for a compilation error that you have encountered!
    Just click "contribute" above and paste in your error!
</p>

<p>
    Alternatively, create an issue on <a href="https://github.com/softwaremill/scala-clippy">GitHub</a> or chat with
    us on <a href="https://gitter.im/softwaremill/scala-clippy?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge">Gitter</a> in case of any doubts.
</p>

<p>
    Speaking of GitHub, you are also welcome to check out (and improve!) the plugin's &amp; website's
    <a href="https://github.com/softwaremill/scala-clippy">source code</a>.
</p>

<h2>Project-specific advices</h2>

<p>If you have advice that you feel is too specific to be worth sharing publicly,  you can add
  it to your project specific advice file. First set your project root:
</p>
<pre>
clippyProjectRoot := Some((baseDirectory in ThisBuild).value) 
</pre>

Then create a file named .clippy.json in the root of your project directory and add the advice json in the format illustrated below:

<pre>
{
  "advices": [
    {
      "error": {
        "type": "typeMismatch",
        "found": "scala\\.concurrent\\.Future\\[Int\\]",
        "required": "Int"
      },
      "text": "Maybe you used map where you should have used flatMap?",
      "library": {
        "groupId": "scala.lang",
        "artifactId": "Future",
        "version": "1.0"
      }
    }
  ]
}
</pre>
<h2>Library-specific advice</h2>
If you have advice that is specific to a library or library version you can also bundle the advice with your library.
If your users have Scala-Clippy installed they will see your advice if your library is inclued in their project.
This can be helpful in the common case where users of your library need specific imports to be able to use your functionality.
To bundle clippy advice with your library just put it in a file named clippy.json in your resources directory.

<h2>Alternative ways to use Clippy</h2>

<p>
    You can also use Clippy directly as a compiler plugin. If you use SBT, add the following setting to your
    project's <code>.sbt</code> file:
</p>

<pre>
addCompilerPlugin("com.softwaremill.clippy" %% "plugin" % "0.5.3" classifier "bundle")
</pre>

<p>
    If you are using <code>scalac</code> directly, add the following option:
</p>

<pre>
-Xplugin:clippy-plugin_2.11-0.5.3-bundle.jar
</pre>

<p>
    See clippy <a href="https://github.com/softwaremill/scala-clippy">README</a> for more details.</p>
</p>
